.playbord {
    width: 515px;
    height: 515px;
    background-color: #bbada0;
    position: relative;
}

.number-container {
    width: 110px;
    height: 110px;
    background-color: rgba(238, 228, 218, 0.35);
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px 0 0 15px;
}

.number-container-transition {
    transition: left 0.2s, top 0.2s;
}

.number-text {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 110px;
    font-size: 45px;
}

.score-bord {
    width: 515px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
